<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ShopNavi" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<permission android:name="com.ShopNavi.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="ShopNavi" android:theme="@style/MainTheme">
		<receiver android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.ShopNavi" />
			</intent-filter>
		</receiver>
		<receiver android:name=".GmailAuthReceiver">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>
		</receiver>
	</application>
</manifest>